@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fusion-light-blue: #2de9eb;
    --fusion-black: #070e16;
}

@layer base {
    /* To remove arrow buttons in number inputs */

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}