@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fusion-cyan: #2de9eb;
    --fusion-black: #070e16;
}

@layer base {
    /* To remove arrow buttons in number inputs */

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.Toastify__toast {
    @apply bg-gray-700 !important;
    @apply text-white !important;
}

.Toastify__toast>button>svg {
    color: var(--fusion-cyan) !important;
}

.Toastify__progress-bar {
    background: var(--fusion-cyan) !important;
}

.Toastify__toast--warning>button>svg {
    @apply text-yellow-500 !important;
}

.Toastify__progress-bar--warning {
    @apply bg-yellow-500 !important;
}